form{
    width: 80vw;
    max-width: 400px;
    border-radius: 20px;
    border: 2px solid red;
    position: absolute;
    top: 85vh;
    left: 50%;
    transform: translate(-50%);
    padding: .9rem;
}

#user_input{
    border: none;
    outline: none;
    width: 100%;
    border: 2px solid green;
    display: flex;
    align-items: center;
}

.img_wrapper{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.img_wrapper img{
    height: 100%;
    width: 100%;
    display: block;
    border-radius: 100%;
    /* display: none; */
}

button{
    width: 100px;
    height: 100%;
    color: blue;
    background-color: white;
    font-weight:bold;
    font-family: sans-serif;
}

button:hover{
    color: blue;
    background-color: wheat;
}

.form_send{
    margin-top: .9rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

::placeholder{
    position: relative;
    top: -20px;
}

@media (min-width:768px) {
    form{
        width: 80vw;
        max-width: 700px;
    }
}